.mt-1 {
    margin-top: 1em;
}
a {
    text-decoration: none;
    color: #4f6ff7;
}
button.btn {
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    background-color: #7291f7;
    color: white;
    border-radius: 2px;
}
button.btn-block {
    width: 100%;
}
img {
    max-width: 100%;
}