{% extends 'posts/base_posts.html' %}

{% block title %}Post List{% endblock %}
{% block posts_content %}
    <div class="row">
        <div class="col">
            {% if object_list %}
                {% for post in object_list %}
                    {% include 'posts/quillpost.html' with post=post %}
                    {% if not forloop.last %}
                        <hr>{% endif %}
                {% endfor %}
            {% else %}
                <p>There is no post.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}