{% extends 'posts/base_posts.html' %}

{% block title %}Post Update (pk: {{ object.pk }}){% endblock %}
{% block posts_content %}
    <div><a href="{% url 'posts:quill-post-detail' pk=object.pk %}" class="btn btn-primary btn-sm">◀ Back to Detail</a></div>
    <div class="mt-2">
        <form action="" method="POST">{% csrf_token %}
            {{ form.content }}
            <button type="submit" class="btn btn-primary btn-block mt-1">Update Post</button>
        </form>
    </div>
{% endblock %}