[run]
source =
    django_quill
    testproject
omit =
    */test*
    */migrations/*
    */__init__.py
    playground/config/asgi.py
    playground/config/wsgi.py
    playground/posts/apps.py
    playground/manage.py