[tool.poetry]
name = "django-quill-editor"
version = "0.1.0"
description = ""
authors = ["lhy <dev@lhy.kr>"]
packages = [
    { include = "django_quill" },
]

[tool.poetry.dependencies]
python = "^3.8"
pytest = "^5.3.5"
pytest-django = "^3.8.0"
pytest-cov = "^2.8.1"
coverage = "^5.0.3"
codecov = "^2.0.16"
Django = ">3.0"
tox = "^3.14.5"

[tool.poetry.dev-dependencies]
twine = "^3.1.1"
setuptools = "^45.2.0"
wheel = "^0.34.2"
notebook = "^6.0.3"
django-extensions = "^2.2.8"

# Doc
Sphinx = "^3.1.1"
recommonmark = "^0.6.0"
sphinx-rtd-theme = "^0.5.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
