server {
  listen        80;
  server_name   ueditor.lhy.kr;
  server_tokens off;

  access_log  /var/log/nginx/access.log;
  error_log   /var/log/nginx/error.log;

  location /.well-known/acme-challenge/ {
    root /var/www/certbot;
  }
}