{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- highlight.js -->
    <link href="{% static 'django_quill/highlight.darcula.min.css' %}" rel="stylesheet">
    <script src="{% static 'django_quill/highlight.pack.js' %}"></script>

    <!-- django-quill-editor -->
    <link href="{% static 'django_quill/quill.snow.css' %}" rel="stylesheet">
    <script src="{% static 'django_quill/quill.js' %}"></script>
    <script src="{% static 'django_quill/django_quill.js' %}"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>django-quill-editor</title>
</head>
<body>
    {% block content %}
    {% endblock %}

    {% block script %}
    {% endblock %}
</body>
</html>