{% extends 'base.html' %}

{% block content %}
    <div>
        <h1><a href="{% url 'index' %}">Django-Quill-Editor</a></h1>
        <ul>
            <li><a href="{% url 'admin:index' %}">Django Admin</a></li>
            <li><a href="{% url 'posts:quill-post-list' %}">QuillPost List</a></li>
        </ul>
        <hr>
        <div>
            <h2>ModelForm</h2>
            <form action="" method="POST">{% csrf_token %}
                {% if form.content.errors %}
                    <ul>
                        {% for error in form.content.errors %}
                            <li style="color: red;">{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {{ form.content }}
                <button type="submit" class="btn btn-block mt-1">Create Post</button>
            </form>
        </div>
        <div>
            <h2>Form</h2>
            <form action="" method="POST">{% csrf_token %}
                {{ normal_form.normal_content }}
            </form>
        </div>
    </div>
{% endblock %}
